<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a routerlink="/" class="navbar-brand">
            <img src="favicon.ico" alt="TechNest" class="logo">
            <i class="text-white">TechNest</i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a routerlink="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Shopping</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Best Seller</a></li>
            </ul>
            <form class="form-inline mx-auto">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products, brands and more">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary"><i class="material-icons">search</i></button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item"><a href="#" class="nav-link"><i class="material-icons">shopping_cart</i></a></li>
                <li class="nav-item dropdown">
                    <a (click)="ToggleDropDown()" class="nav-link dropdown-toggle" id="userDropdown"
                        data-toggle="dropdown">
                        <i class="material-icons">account_circle</i>
                    </a>
                    <div [ngClass]="{'show':visible}" class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Register <i class="fa fa-user-plus"></i></a>
                        <a class="dropdown-item" href="#">Login <i class="fa fa-sign-in"></i></a>
                        <a class="dropdown-item" href="#">My Order</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>